# Build directories
/build/
/out/

# IDE settings
/.vscode/
/.idea/
/.vs/
/CMakeSettings.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/
CmakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
_deps/

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db